html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

mat-form-field.mat-form-field {
  max-width: 350px;
  display: block;
}

mat-form-field.ng-touched.ng-invalid.one-error {
  transition-duration: 0.7s;
  margin-bottom: 0;
}

mat-form-field.ng-touched.ng-invalid.two-errors {
  transition-duration: 0.7s;
  margin-bottom: 35px;
}

mat-form-field.ng-touched.ng-invalid.three-errors {
  transition-duration: 0.7s;
  margin-bottom: 45px;
}

mat-form-field.ng-touched.ng-invalid.four-errors {
  transition-duration: 0.7s;
  margin-bottom: 55px;
}
