<mat-vertical-stepper >
  <!-- #region Personal information step -->
  <mat-step label="Personal information" [stepControl]="personalInformationForm" [completed]="personalInformationForm.valid">
    <form [formGroup]="personalInformationForm" autocomplete="off">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput id="name" formControlName="name" />
          <mat-error *ngIf="name.touched && name.errors?.required">
            The Name field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Surname</mat-label>
          <input matInput id="surname" formControlName="surname" />
          <mat-error *ngIf="surname.touched && surname.errors?.required">
            The Surname field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput id="email" formControlName="email" />
          <mat-error *ngIf="email.touched && email.errors?.required">
            The Email field is required
          </mat-error>
          <mat-error *ngIf="email.touched && email.errors?.email">
            The Email field is not a valid e-mail address.
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-step>
  <!-- #endregion -->
  <!-- #region Residential address step -->
  <mat-step label="Residential address" [stepControl]="residentialAddressForm" [completed]="residentialAddressForm.valid">
    <form [formGroup]="residentialAddressForm" autocomplete="off">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Street</mat-label>
          <input matInput id="street" formControlName="street" />
          <mat-error *ngIf="street.touched && street.errors?.required">
            The Street field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>House number</mat-label>
          <input matInput id="house-number" formControlName="houseNumber" />
          <mat-error *ngIf="houseNumber.touched && houseNumber.errors?.required">
            The House number field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Apartment number</mat-label>
          <input matInput id="apartment-number" formControlName="apartmentNumber" />
          <mat-error *ngIf="apartmentNumber.touched && apartmentNumber.errors?.required">
            The Apartment number field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Postal code</mat-label>
          <input type="number" matInput id="postal-code" placeholder="Ex. 94105" formControlName="postalCode" />
          <mat-error *ngIf="postalCode.touched && postalCode.errors?.required">
            The Postal code field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput id="city" formControlName="city" />
          <mat-error *ngIf="city.touched && city.errors?.required">
            The City code field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Country</mat-label>
          <input matInput id="country" formControlName="country" />
          <mat-error *ngIf="country.touched && country.errors?.required">
            The Country code field is required
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-step>
  <!-- #endregion -->
  <!-- #region Password step -->
  <mat-step label="Password" [stepControl]="passwordForm" [completed]="passwordForm.valid">
    <form [formGroup]="passwordForm" autocomplete="off">
      <div class="form-group">
        <mat-form-field [ngClass]="setErrorClasses()">
          <mat-label>Password</mat-label>
          <input type="password" matInput id="password" formControlName="password" />
          <mat-error *ngIf="password.touched && password.errors?.required">
            The Password field is required
          </mat-error>
          <mat-error *ngIf="password.touched && !password.errors?.required">
            <mat-error *ngIf="password.errors?.hasNumber">The Password must include number</mat-error>
            <mat-error *ngIf="password.errors?.hasCapitalCase">The Password must include capital case letter</mat-error>
            <mat-error *ngIf="password.errors?.hasLowerCase">The Password must include lower case letter</mat-error>
            <mat-error *ngIf="password.errors?.hasSpecialCharacter">The Password must include special character</mat-error>
            <mat-error *ngIf="password.errors?.minlength">The Password must be at least 8 characters</mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Confirm password</mat-label>
          <input type="password" matInput id="confirm-password" formControlName="confirmPassword" />
          <mat-error *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
            The Confirm password field is required
          </mat-error>
          <mat-error *ngIf="confirmPassword.touched && confirmPassword.errors?.passwordMismatch">
            Passwords do not match
          </mat-error>
        </mat-form-field>
      </div>

      <button class="btn btn-primary" [disabled]="!personalInformationForm.valid || !residentialAddressForm.valid || !passwordForm.valid">Sign Up</button>
    </form>
  </mat-step>
  <!-- #endregion -->
</mat-vertical-stepper>
