<mat-vertical-stepper>
  <!-- #region Account information step -->
  <mat-step label="Account information" [stepControl]="accountInformationForm" [completed]="accountInformationForm.valid">
    <form [formGroup]="accountInformationForm" autocomplete="off">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Account type</mat-label>
          <mat-select id="account-type" formControlName="accountType">
            <mat-option *ngFor="let accountType of accountTypes" [value]="accountType">
              {{accountType}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="accountType.errors?.required">
            The Account type field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Currency</mat-label>
          <mat-select id="currency" formControlName="currency">
            <mat-option *ngFor="let currency of currencies" [value]="currency.code">
              {{currency.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="currency.errors?.required">
            The Currency field is required
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-step>
  <!-- #endregion -->
  <!-- #region Personal information step -->
  <mat-step label="Personal information" [stepControl]="personalInformationForm" [completed]="personalInformationForm.valid">
    <form [formGroup]="personalInformationForm" autocomplete="off">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput id="name" formControlName="name" />
          <mat-error *ngIf="name.errors?.required">
            The Name field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Surname</mat-label>
          <input matInput id="surname" formControlName="surname" />
          <mat-error *ngIf="surname.errors?.required">
            The Surname field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <input type="number" matInput id="phone-number" formControlName="phoneNumber" />
          <mat-error *ngIf="phoneNumber.errors?.required">
            The Phone number field is required
          </mat-error>
          <mat-error *ngIf="!phoneNumber.errors?.required && phoneNumber.errors?.invalidLimit">
            Provide valid phone number
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput id="email" formControlName="email" />
          <mat-error *ngIf="email.errors?.required">
            The Email field is required
          </mat-error>
          <mat-error *ngIf="email.errors?.email">
            The Email field is not a valid e-mail address.
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-step>
  <!-- #endregion -->
  <!-- #region Residential address step -->
  <mat-step label="Residential address" [stepControl]="residentialAddressForm" [completed]="residentialAddressForm.valid">
    <form [formGroup]="residentialAddressForm" autocomplete="off">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Street</mat-label>
          <input matInput id="street" formControlName="street" />
          <mat-error *ngIf="street.errors?.required">
            The Street field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>House number</mat-label>
          <input matInput id="house-number" formControlName="houseNumber" />
          <mat-error *ngIf="houseNumber.errors?.required">
            The House number field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Apartment number</mat-label>
          <input matInput id="apartment-number" formControlName="apartmentNumber" />
          <mat-error *ngIf="apartmentNumber.errors?.required">
            The Apartment number field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Postal code</mat-label>
          <input type="number" matInput id="postal-code" placeholder="Ex. 94105" formControlName="postalCode" />
          <mat-error *ngIf="postalCode.errors?.required">
            The Postal code field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput id="city" formControlName="city" />
          <mat-error *ngIf="city.errors?.required">
            The City field is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Country</mat-label>
          <mat-select id="country" formControlName="country">
            <mat-option *ngFor="let country of countries" [value]="country">
              {{country}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="country.errors?.required">
            The Country field is required
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-step>
  <!-- #endregion -->
  <!-- #region Password step -->
  <mat-step label="Password" [stepControl]="passwordForm" [completed]="passwordForm.valid">
    <form [formGroup]="passwordForm" autocomplete="off" (submit)="register()">
      <div class="form-group">
        <mat-form-field [ngClass]="setErrorClasses()">
          <mat-label>Password</mat-label>
          <input type="password" matInput id="password" formControlName="password" />
          <mat-error *ngIf="password.errors?.required">
            The Password field is required
          </mat-error>
          <mat-error *ngIf="!password.errors?.required">
            <mat-error *ngIf="password.errors?.hasNumber">The Password must include number</mat-error>
            <mat-error *ngIf="password.errors?.hasCapitalCase">The Password must include capital case letter</mat-error>
            <mat-error *ngIf="password.errors?.hasLowerCase">The Password must include lower case letter</mat-error>
            <mat-error *ngIf="password.errors?.hasSpecialCharacter">The Password must include special character</mat-error>
            <mat-error *ngIf="password.errors?.minlength">The Password must be at least 8 characters</mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Confirm password</mat-label>
          <input type="password" matInput id="confirm-password" formControlName="confirmPassword" />
          <mat-error *ngIf="confirmPassword.errors?.required">
            The Confirm password field is required
          </mat-error>
          <mat-error *ngIf="confirmPassword.errors?.passwordMismatch">
            Passwords do not match
          </mat-error>
        </mat-form-field>
      </div>

      <button class="btn btn-primary" [disabled]="!personalInformationForm.valid || !residentialAddressForm.valid || !passwordForm.valid">Sign Up</button>
    </form>
  </mat-step>
  <!-- #endregion -->
</mat-vertical-stepper>
