<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form [formGroup]="registerModel" autocomplete="off">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" class="form-control" formControlName="name" />
      <label class="text-danger"
             *ngIf="registerModel.get('name').touched
              && registerModel.get('name').errors?.required">
        The Name field is required.
      </label>

    </div>

    <div class="form-group">
      <label for="surname">Surname</label>
      <input id="surname" class="form-control" formControlName="surname" />
      <label class="text-danger"
             *ngIf="registerModel.get('surname').touched
              && registerModel.get('surname').errors?.required">
        The Surname field is required.
      </label>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" class="form-control" formControlName="email" />
      <label class="text-danger"
             *ngIf="registerModel.get('email').touched
              && registerModel.get('email').errors?.required">
        The Email field is required.
      </label>
      <label class="text-danger"
             *ngIf="registerModel.get('email').touched
              && registerModel.get('email').errors?.email">
        The Email field is not a valid e-mail address.
      </label>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" formControlName="password" />
      <label class="text-danger"
             *ngIf="registerModel.get('password').touched
              && registerModel.get('password').errors?.required">
        The Password field is required.
      </label>
    </div>

    <div class="form-group">
      <label for="confirm-password">Confirm password</label>
      <input type="password" id="confirm-password" class="form-control" formControlName="confirmPassword" />
      <label class="text-danger"
             *ngIf="registerModel.get('confirmPassword').touched
              && registerModel.get('confirmPassword').errors?.required">
        The Confirm password field is required.
      </label>
      <label class="text-danger"
             *ngIf="registerModel.get('confirmPassword').touched
              && registerModel.get('confirmPassword').errors?.passwordMismatch">
        Passwords do not match
      </label>
    </div>

    <button class="btn btn-primary">Sign Up</button>
  </form>
</body>
</html>
