<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form [formGroup]="registerFormModel" autocomplete="off" (submit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" class="form-control" formControlName="name" />
      <label class="text-danger"
             *ngIf="registerFormModel.get('name').touched
              && registerFormModel.get('name').errors?.required">
        The Name field is required.
      </label>

    </div>

    <div class="form-group">
      <label for="surname">Surname</label>
      <input id="surname" class="form-control" formControlName="surname" />
      <label class="text-danger"
             *ngIf="registerFormModel.get('surname').touched
              && registerFormModel.get('surname').errors?.required">
        The Surname field is required.
      </label>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" class="form-control" formControlName="email" />
      <label class="text-danger"
             *ngIf="registerFormModel.get('email').touched
              && registerFormModel.get('email').errors?.required">
        The Email field is required.
      </label>
      <label class="text-danger"
             *ngIf="registerFormModel.get('email').touched
              && registerFormModel.get('email').errors?.email">
        The Email field is not a valid e-mail address.
      </label>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" formControlName="password" />
      <label class="text-danger"
             *ngIf="registerFormModel.get('password').touched
              && registerFormModel.get('password').errors?.required">
        The Password field is required.
      </label>
      <label class="text-danger"
             *ngIf="registerFormModel.get('password').touched">
        <text *ngIf="registerFormModel.get('password').errors?.hasNumber">The Password must include number <br /></text>
        <text *ngIf="registerFormModel.get('password').errors?.hasCapitalCase">The Password must include capital case letter  <br /></text>
        <text *ngIf="registerFormModel.get('password').errors?.hasLowerCase">The Password must include lower case letter  <br /></text>
        <text *ngIf="registerFormModel.get('password').errors?.hasSpecialCharacter">The Password must include special character  <br /></text>
        <text *ngIf="registerFormModel.get('password').errors?.minlength">The Password must be at least 8 characters  <br /></text>
      </label>
    </div>

    <div class="form-group">
      <label for="confirm-password">Confirm password</label>
      <input type="password" id="confirm-password" class="form-control" formControlName="confirmPassword" />
      <label class="text-danger"
             *ngIf="registerFormModel.get('confirmPassword').touched
              && registerFormModel.get('confirmPassword').errors?.required">
        The Confirm password field is required.
      </label>
      <label class="text-danger"
             *ngIf="registerFormModel.get('confirmPassword').touched
              && registerFormModel.get('confirmPassword').errors?.passwordMismatch">
        Passwords do not match
      </label>
    </div>

    <button class="btn btn-primary">Sign Up</button>
  </form>
</body>
</html>
