<form [formGroup]="branchForm" autocomplete="off" (submit)="submit()">
  <div class="form-group">
    <mat-form-field>
      <mat-label>Branch code</mat-label>
      <input matInput id="branchCode" formControlName="branchCode" />
      <mat-error *ngIf="branchCode.errors?.required">
        The Branch code field is required
      </mat-error>
    </mat-form-field>
  </div>

  <app-new-address-form formControlName="address"></app-new-address-form>

  <button type="submit" class="btn btn-primary" [disabled]="!branchForm.valid">Add</button>
</form>
